RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^index$ index.html [L]
RewriteRule ^portfolio/agbasa$ portfolio/agbasa.html [L]
RewriteRule ^portfolio/gom$ portfolio/gom.html [L]
RewriteRule ^portfolio/gso$ portfolio/gso.html [L]
RewriteRule ^portfolio/lcis$ portfolio/lcis.html [L]
RewriteRule ^portfolio/pos$ portfolio/pos.html [L]
